[submodule "Streamers"]
	path = Streamers
	url = https://github.com/netCommonsEU/PeerStreamer.git
	branch = master
[submodule "THIRDPARTY-LIBS/GRAPES"]
	path = THIRDPARTY-LIBS/GRAPES
	url = https://github.com/netCommonsEU/PeerStreamer-grapes.git
	branch = master
[submodule "THIRDPARTY-LIBS/NAPA-BASELIBS"]
	path = THIRDPARTY-LIBS/NAPA-BASELIBS
	url = https://github.com/netCommonsEU/PeerStreamer-napa-baselibs.git
	branch = master
[submodule "PeerViewer"]
	path = PeerViewer
	url = https://github.com/netCommonsEU/PeerStreamer-peerviewer
	branch = master
